<h1>demos#index</h1>

<div>
  <ul>
    <li>
      <a href="/page1">Page1</a>
    </li>
    <li>
      <a href="/page2">Page2</a>
    </li>
    <li>
      <a href="/mui_hello_world">mui Hello World</a>
    </li>
    <li>
      <a href="/mui_dashboard">mui Dashboard</a>
    </li>
  </ul>
</div>
