<h1>demos#mui</h1>

<div>
  <ul>
    <li>
      <a href="/">Index</a>
    </li>
    <li>
      <a href="/page1">Page1</a>
    </li>
    <li>
      <a href="/page2">Page2</a>
    </li>
    <li>
      <a href="/mui_dashboard">mui Dashboard</a>
    </li>
  </ul>
</div>

<div id="mui-hello-world"></div>
