{
	auto_https off
	http_port 8080

	log {
		format console
		level debug
	}
}

http://localhost, http://localhost.localdomain, http://*.localhost, http://*.localhost.localdomain {
	log
	root * /srv/public
	file_server
	encode zstd gzip

	@static file
	@notStatic not file

	# header @static Cache-Control "public, max-age=31556952"

	reverse_proxy @notStatic rls:3000 {
		header_up X-Sendfile-Type "X-Accel-Redirect"
		header_up X-Accel-Mapping "/rails/storage/=/"

		@sendfile header X-Accel-Redirect *

		handle_response @sendfile {
			root * /srv/storage
			log_append upstream_sendfile {rp.header.X-Accel-Redirect}
			rewrite * {rp.header.X-Accel-Redirect}
			method * GET
			file_server
		}

		@err status 400 404 422 500

		handle_response @err {
			error "" {rp.status_code}
		}
	}

	handle_errors 400 404 422 500 {
		root * /srv/public
		rewrite * /{err.status_code}.html
		file_server
	}
}
