{
	auto_https off
	http_port 8080

	log {
		format console
		level debug
	}
}

http://localhost, http://localhost.localdomain, http://*.localhost, http://*.localhost.localdomain {
	root * /srv/public
	file_server
	encode zstd gzip

	@static file
	@notStatic not file

	header @static Cache-Control "public, max-age=31536000"

	reverse_proxy @notStatic rls:3000 {
		@err status 400 404 422 500

		handle_response @err {
			error "" {rp.status_code}
		}
	}

	handle_errors 400 404 422 500 {
		root * /srv/public
		rewrite * /{err.status_code}.html
		file_server
	}
}

#handle_response @sendfile {
#root * /srv/private
#rewrite {http.response.header.X-Sendfile}
#file_server
#}
#handle_response @sendfile {
#rewrite {http.response.header.X-Sendfile}
#copy_response

#root * /srv/private

#header X-Sendfile /rails/storage ""
# rewrite /nm/7b/nm7bj8axe6ozeqo5m4j7ojuqs48a

#file_server

#copy_response_headers
#respond "test"
#}


# @accel header X-Accel-Redirect *
# handle_response @accel {
# 	root * /path/to/private/files
# 	rewrite {http.response.header.X-Accel-Redirect}
# 	file_server
# }
# }
